@font-face {
    font-family: "ff";
    src: url("ff.woff") format('woff'),
         url("ff.woff2") format('woff2'),
         url("ff.ttf") format('ttf');
}
audio{
    margin: 0px;
    padding: 0px;
}
p{
    color:white;
    font-family: ff;
    font-size: 3em;
    width:fit-content;
    margin:0px;
}

li{
    color: white;
}

.emgithub-container{
    overflow: scroll;
    width: 960px;
    height:720px;
}

.emgithub-file .code-area pre code.hljs {
    width:max-content;
    overflow-x: visible !important;
}

.emgithub-file{
    border: none !important;
    width:max-content;
    overflow:visible !important;
}

.code{
    width:960px;
    height:720px;
}

.textblock{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    width: 960px;
    font-family: monospace;
    font-size: 1.5em;
    padding: .5em;
}

.white{
    color: white;
}
* {
    cursor: url('crosshaircursor.png') 16 16, default !important;
}
a > img{
    cursor: url('crosshaircursor_l.png') 16 16, pointer !important;
}
body {
    padding: 0px;
    margin: 0px;
    /* background:rgb(56, 56, 56); */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ffffff)) fixed; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#006823), to(#00a030)) fixed; */
        /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(0 0 0)), to(rgb(134 134 134))) fixed; */
        background-color: #2d2d2d;
    }

#three_js_container_1 {
    pointer-events: none;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    height: 10px;
    width: 10px;
    z-index: 50;
    overflow: hidden;
    /* filter: drop-shadow(74px 78px 60px #000000bb);l */
}


#bg {
    background: url(termsb.gif) repeat;
    -webkit-animation: scrolling 50s linear infinite;
    -moz-animation: scrolling 50s linear infinite;
    -o-animation: scrolling 50s linear infinite;
    animation: scrolling 50s linear infinite;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 10px;
    width: 10px;
    z-index: -2;
}

#led{
    background: linear-gradient(0deg, black, #0e0e0e);
    /* background: black; */
    /* background: url("pixel.png")     repeat; */
    /* opacity:.85; */
    /* mix-blend-mode: darken; */
    pointer-events: none;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    /* height: 10px; */
    /* width: 10px; */
    z-index: -1;
}

@keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: -300px -300px;
  }
}

.button{
    vertical-align: middle;
    width:40px;
    height: 40px;
}

.marquee {
    z-index: 100;
    position:fixed;
    width: 100%;
    line-height: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    color: Black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    vertical-align: middle;
    margin: 5px;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 95s linear infinite;
}

.marquee_text{
    vertical-align: middle;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#ui{
    position: fixed;
    bottom:0px;
    width: 1000px;
    padding-left: 10px;
    padding-bottom: 10px;
    pointer-events: none;
}

#uimobile{
    position: fixed;
    bottom:0px;
    width: 95%;
    left:50%;
    transform: translateX(-50%);
    padding-bottom:2.5vw;
    pointer-events: none;
    /* padding: auto; */
}

@media screen and (max-width: 1050px) {
    #ui{
        width: 750px;
    }
}

@media screen and (max-width: 800px) {
    #ui{
        width: 75%;
    }
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pinkify{
    filter: blur(0.05em) contrast(2.5);
    overflow: hidden;
    color: #ba0000;
    filter: url(#tint) blur(0.085em) contrast(1) hue-rotate(135deg);
}

.rainbow{
    text-align: center;
    filter: blur(0.015em) contrast(2.5);
    overflow: hidden;
    color: #ba0000;
    width:100%;
    /* filter: saturate(1.0) contrast(3); */
    background: linear-gradient(135deg, #000000 45%, rgb(100 53 53) 50%, #000000 55%);
    /* background: linear-gradient(0deg, #1de840, #1ddde8, #2b1de8); */
    background-size: 1000% 1000%;
    -webkit-animation: rainbow 1s ease-in-out infinite;
    -z-animation: rainbow 1s ease-in-out infinite;
    -o-animation: rainbow 1s ease-in-out infinite;
    animation: rainbow 3s ease-in infinite;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 0%}
    100%{background-position:100% 0%}
}

.sharp{
    pointer-events: none;
    image-rendering: pixelated;
    background-color: black;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    max-width:100%;
    /* height: auto; does nothing b/c default is auto but this is what it is currently*/
}

.black{
    text-align: center;
    color: black;
    background-color: black;
    overflow: hidden;
    position: absolute;
    width:100%;
}

#speaka{
    /* position: fixed; */
    bottom: 240px;
    width: 100%;
    height: 128px;
    background: url(speaka.gif) repeat;

    -webkit-animation: scrollingspeaker 3s cubic-bezier(0.3, 0, 0, 1) infinite;
    -moz-animation: scrollingspeaker 3s cubic-bezier(0.3, 0, 0, 1) infinite;
    -o-animation: scrollingspeaker 3s cubic-bezier(0.3, 0, 0, 1) infinite;
    animation: scrollingspeaker 3s cubic-bezier(0.3, 0, 0, 1) infinite;
    cursor: url('crosshaircursor_l.png') 16 16, pointer !important;
}

#camo{
    width: 100%;
    height: 32px;
    background: url(camochip.png) repeat;

    -webkit-animation: scrollingcamo 15s linear infinite;
    -moz-animation: scrollingcamo 15s linear infinite;
    -o-animation: scrollingcamo 15s linear infinite;
    animation: scrollingcamo 15s linear infinite;
}

@keyframes scrollingspeaker {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 96px 0px;
    }
}

@keyframes scrollingcamo {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 128px 0px;
    }
}

.pxldisplay{
    min-width: 0px;
    width:50%;
    filter:url(#pixelate) blur(1px);
}